# https://ronamosa.io/docs/engineer/LAB/pihole-docker-unbound/
#
# INSTRUCTIONS:
# Create the network with:
#    docker network create --driver bridge --attachable mybridge
#
services:
  unbound:
    image: klutchell/unbound:latest
    container_name: unbound
    networks:
      - dns_net
    cap_add:
      - NET_ADMIN
    volumes:
      - ./unbound/unbound.conf:/etc/unbound/unbound.conf:ro
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    networks:
      - dns_net
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: ${TZ}
      FTLCONF_webserver_api_password: ${PIHOLE_API_PASSWORD}
      DNSMASQ_LISTENING: all
      FTLCONF_dns_upstreams: ${DNS_UPSTREAM}
    volumes:
      - ./pihole/etc-pihole:/etc/pihole
    cap_add:
      - NET_ADMIN
      - SYS_NICE
    depends_on:
      - unbound
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

networks:
  dns_net:
    driver: bridge
