# https://ronamosa.io/docs/engineer/LAB/pihole-docker-unbound/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    networks:
      - dns_net
    ports:
      # DNS Ports
      - "53:53/tcp"
      - "53:53/udp"
      # Default HTTP Port
      - "80:80/tcp"
      # Default HTTPs Port. FTL will generate a self-signed certificate
      - "443:443/tcp"
      # Uncomment the below if using Pi-hole as your DHCP Server
      #- "67:67/udp"
      # Uncomment the line below if you are using Pi-hole as your NTP server
      #- "123:123/udp"
    environment:
      TZ: 'America/New_York'
      FTLCONF_webserver_api_password: ''
      DNSMASQ_LISTENING: "all"
      FTLCONF_dns_upstreams: 'unbound#53'
    volumes:
      - './pihole/etc-pihole/:/etc/pihole/'
    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      - NET_ADMIN
      # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
      # - SYS_TIME
      # Optional, if Pi-hole should get some more processing time
      - SYS_NICE
#    security_opt:
#      - seccomp:unconfined
    depends_on:
      - unbound
    restart: unless-stopped

  unbound:
    container_name: unbound
    image: klutchell/unbound:latest
    networks:
      - dns_net
    cap_add:
      - NET_ADMIN
#    ports:
#      - "53:53/tcp"
#      - "53:53/udp"
    volumes:
      - './unbound/unbound.conf:/etc/unbound/unbound.conf:ro'
#      - './root.hints:/etc/unbound/root.hints:ro'
    restart: unless-stopped

networks:
  dns_net:
    driver: bridge
